body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
}
.input-output-container {
	display: flex;
	flex-direction: column;
  border: 2px solid #ccc;
	margin: 0 10px;
	padding: 0 10px;
}
.input-output-container input {
  margin: 0 10px;
  padding: 5px;
  width: 40px;
}
.input-output-container button {
  padding: 3px 8px;
	width: 25%;
  font-size: 12px;
}
#trajectorySvg {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
}
.inputs-outputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hidden {
	display: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
